<div class="col-12 d-flex align-items-center my-2 px-2 animate__animated animate__fadeInDown">
    <div class="card w-100 shadow-lg">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text card-text-primary"></p>
              <p class="card-text"><small class="text-muted"></small></p>
              <a href="" data-link class="btn btn-primary" data-lkey="nav_more"></a>
            </div>
          </div>
        </div>
      </div>
</div>