<div class="col-lg-3 col-12 d-flex align-items-center my-2 px-2 animate__animated animate__fadeInDown">
    <div class="card shadow-lg">
        <img src="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <div class="row m-0">
            <a href="" data-link class="btn btn-primary col-auto" data-lkey="nav_more"></a>
            <div class="col-auto mx-auto align-self-center project-info fw-bold">
            </div>
          </div>
        </div>
    </div>
</div>